@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8; /* Blue-700 */
  --color-primary-foreground: #ffffff;
  --color-danger: #ef4444; /* Red-500 */
  --color-warning: #f59e0b; /* Amber-500 */
  --color-success: #10b981; /* Emerald-500 */
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

@media print {
  body {
    background-color: white !important;
  }
  nav {
    display: none !important;
  }
  main {
    padding: 0 !important;
    margin: 0 !important;
  }
}
